.navbar-default {
    width: 70%;
    margin-left: 15%;
}

.navbar-header {
    margin-left: 2%;
}

.navbar-nav {
    margin-left: 25%;
}

.btn-group-vertical {
    position: absolute;
    margin-left: 15%;
}

.list-group {
    display: inline-block;
    width: 20%;
    margin-left: 38%;
}

button.list-group-item {
    width: 100%;
}

.panel {
    position: absolute;
    display: inline-block;
    margin-left: 4%;
}

.new-todo {
    position: absolute;
    display: inline-block;
    margin-left: 2%;
}

.edit-todo {
    position: absolute;
    display: inline-block;
    margin-left: 2%;
}

